#retour {

    display: flex;
    flex-direction: row;

}

/*media queries*/
@media screen and (max-width: 1200px) {

    #les3Meilleurs {
        display: flex;
        flex-direction: column;
    }

    #tableauJoueurs {
        width: 100%;
    }

    .photosMeilleurs {
        width: 50%;
    }

    p {
        font-size: 1em;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2em;
    }

    .introduction {
        font-size: 1em;
    }
}

@media screen and (max-width: 630px) {
    #tableauJoueurs {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1em;
    }

    #tableauJoueurs {
        font-size: 1em;
    }

    #Magnus p, #Mehdi p, #Wesley p {
        font-size: 0.5em;
    }

    #Magnus, #Mehdi, #Wesley {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .introduction {
        font-size: 1em;
    }
}



