
.image2 {
    display: none;
}
.titrepartie{
    padding: 60px;
    font-size: 3em;
}

.theme {
    top: 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 0.5em;
    height: 2em;
    width: 2em;
}

header {
    width: 100%;
}

h1 {
    padding-bottom: 80px;
    font-weight: 900;
    font-size: 5em;
    margin-top: 100px;
    color:#1a82a5;
    text-shadow: 2px 2px darkslategrey;
}

body {
    color: deepskyblue;
    text-align: center;
    height: fit-content;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1em;
    gap: 3px;
    padding: 0.5em 0;
}

.stickers {
    display: flex;
    margin-top: 20%;
    background-color: white;
    padding: 1em;
    border-radius: 2em;

}

a {
    color: deepskyblue;
}

a:hover {
    color: black;
}

ul {
    margin: 0 3em;
}

/* s'occupe des différentes parties de la page */
.introduction {
    font-size: 3em;
    color: white;
    font-weight: 900;
    text-shadow: black 0 0 50px;
}

#competition {
    padding: 25%;
    align-items: flex-end;
}

#histoire {
    align-items: center;
    padding: 25px;
}

.titrepartie {
    font-size: 6em;
    color: #1a82a5;
    text-shadow: 2px 2px white;
    display: flex;
    justify-content: center;


}

p {
    color: white;
    font-size: 2em;
    padding: 5%;
}

#reseaux a img {
    height: 5em;
    width: 5em;
    margin: 0.5em;
}

#reseaux {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#tuto main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 1em 0;
}

#description {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
}

#description img {
    align-self: center;
    height: 25%;
    width: 47%;
    border-radius: 15px;
}

#photoCompétition {
    width: 35%;
    height: 35%;
    border-radius: 15px;
}

section p:not(.introduction) {
    text-shadow: black 2px 2px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    width: 50%;
    margin: 0 auto;
    font-weight: 900;
}

img {
    width: 40%;
    border-radius: 6px;
    margin-bottom: 10px;
}

h4 {
    font-weight: bold;
    padding: 1em;
}

/* media queries */
@media screen and (max-width: 1300px) {

    h1 {
        font-weight: 900;
        font-size: 7em;
        margin-top: 100px;
        color: whitesmoke;
        text-shadow: 4px 4px darkslategrey;
    }

    .introduction {
        font-size: 2em;
        padding: 5%;

    }

    p {
        font-size: 1em;
    }
}

@media screen and (max-width: 1000px) {

    h1 {
        font-weight: 900;
        font-size: 4em;
        margin-top: 100px;
        text-shadow: 2px 2px darkslategrey;
    }

    .titrepartie {


        text-shadow: 3px 3px darkslategrey;
        font-size: 2em;
        padding: 25px;


    }

    .introduction {
        font-size: 2em;
        padding: 5%;

    }

    p {
        font-size: 1em;
    }

    #reseaux a img {
        height: 3em;
        width: 3em;
        margin: 0.5em;
    }
}

@media screen and (max-width: 670px) {

    section p:not(.introduction) {

        width: 80%;
    }

    h1 {
        font-weight: 900;
        font-size: 3em;
        margin-top: 100px;
        text-shadow: 4px 4px darkslategrey;
    }

    h2, h3, h4 {
        color: white;
        text-shadow: 3px 3px darkslategrey;
        font-size: 3vh;
        padding: 25px;

    }

    .introduction {
        font-size: 1em;
        padding: 5%;

    }

    p {
        font-size: 1em;
    }

    #reseaux a img {
        height: 3em;
        width: 3em;
        margin: 0.5em;
    }
}

.image2 {
    padding: 10px;
}

h5 {
    display: none;
}