/* style qui s'applique à toutes les pages lorsque nous sommes en mode moderne*/



html {
    overflow-x: hidden;
    padding-top: 100px;
    background-image: url("https://static.vecteezy.com/ti/vecteur-libre/t2/696278-fond-noir-texture-gratuit-vectoriel.jpg" );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

#formulaire-contact{
    font-weight: 900;
    font-size: 2em;
    color: white;
}
footer a :hover {
    transition: all ease-in-out;
    color: white;
}
* {
    color: white;
    font-family: Klavika Basic ;
    margin: 0;

    padding: 0;
    text-decoration: none;
    list-style: none;
}


header {
    width: 100%;
}

#changementTheme {
    background-color: #1a82a5;
    position: fixed;
    top: 30px;
    right: 0;
    margin: 0.5em;
    border-radius: 15%;
    padding: 1em;
    height: 1em;
    width: 1em;
    cursor: pointer;
    z-index: 5001;
}

img {
    width: 5%;
    height: auto;
    border-radius: 50px;
}



/* partie qui dimensionne le logo et le fait tourner en continu*/
.logo {

    width: 9em;
    border-radius: 150px;
    margin: 10px 20px;
    z-index: 5000;
}

/* Gestion du menu afficher en mode moderne*/
.menu {

    top: 0;
    font-size: 2em;
    height: 3em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 5000;
    width: 100%;
    margin: 0;
    background: black;
}

.menu li a {

    border-radius: 0px;
    font-size: 0.7em;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    transition: 300ms ease-in-out;
}

.menu li p {
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 1em;

}

.menu li a:hover {
    border: solid white;
    display: block;
    color: white;
    transform: scale(1.1);

}

/* colore la case du menu correspondant à la page affichée*/
.actual {
    border: solid;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
}

/* Gestion du menu afficher en mode mobile*/
.menuHamburger {
    display: none;
}


.menuDeroulantActif {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .menu {
        display: none;
    }

    .menuDeroulantActif {

        margin-top: -100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10em;
        width: 100%;


        position: fixed;
        top: 0;
        z-index: 5000;
        transition: all 200ms ease-in-out;

    }

    .menuDeroulantActif li a {
        color: white;
        font-weight: bold;
        border-radius: 15px;
        padding: 0.3em;
        transition: 300ms ease-in-out;
        font-size: 1em;
        display: flex;
        justify-content: center;
    }

    .menuDeroulantActif li a:hover {

        color: white;
        background: lightseagreen;
        transform: scale(1.1);

    }

    .mobile-menu {
        margin-top: 0;
        margin-left: 0;
    }

    #changementTheme {

        right: 63px;
    }


    .menuHamburger {
        display: block;
        position: fixed;
        top: 1px;
        right: 0;
        height: 60px;
        width: 60px;
        z-index: 5001;
        cursor: pointer;
        transition: .3s transform ease-in-out;

    }

    .menuHamburger:hover {
        transform: scale(1.05);
    }
}
