/* style qui s'applique à toutes les pages lorsque nous sommes en mode moderne*/


* {
    font-family: "Candara Light", serif;
    margin: 0;

    padding: 0;
    text-decoration: none;
    list-style: none;
}


html {
    background-image: url("https://images.chesscomfiles.com/uploads/v1/images_users/tiny_mce/PedroPinhata/php6wV0bn.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

header {
    width: 100%;
}

#changementTheme {
    background-color: saddlebrown;
    position: fixed;
    top: 10px;
    right: 10px;
    margin: 0.5em;
    border-radius: 15%;
    padding: 1em;
    height: 1em;
    width: 1em;
    cursor: pointer;
    z-index: 5001;
}

.logo2 {
    display: none;
}

/* partie qui dimensionne le logo et le fait tourner en continu*/
.logo {
    animation: rotation 5s infinite linear;
    width: 3em;
    border-radius: 15px;
    margin: 10px 20px;
    position: fixed;
    top: 1px;
    left: 10px;
    z-index: 5000;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

/* Gestion du menu afficher en mode moderne*/
.menu {

    top: 0;
    font-size: 2em;
    height: 2em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 5000;
    width: 100%;
    margin: 0;
    background: darkslategrey;
}

.menu li a {
    font-size: 0.7em;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 0.3em;
    transition: 300ms ease-in-out;
}

.menu li p {
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 1em;

}

.menu li a:hover {
    display: block;
    color: black;
    background: lightseagreen;
    transform: scale(1.1);

}

/* colore la case du menu correspondant à la page affichée*/
.actual {
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: cadetblue;
    border-radius: 15px;
}

/* Gestion du menu afficher en mode mobile*/
.menuHamburger {
    display: none;
}


.menuDeroulantActif {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .menu {
        display: none;
    }

    .menuDeroulantActif {

        margin-top: -100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 10em;
        width: 100%;

        background: rgba(47, 79, 79, 0.9);
        position: fixed;
        top: 0;
        z-index: 5000;
        transition: all 200ms ease-in-out;

    }

    .menuDeroulantActif li a {
        color: white;
        font-weight: bold;
        border-radius: 15px;
        padding: 0.3em;
        transition: 300ms ease-in-out;
        font-size: 1em;
        display: flex;
        justify-content: center;
    }

    .menuDeroulantActif li a:hover {

        color: black;
        background: lightseagreen;
        transform: scale(1.1);

    }

    .mobile-menu {
        margin-top: 0;
        margin-left: 0;
    }

    #changementTheme {

        right: 63px;
    }


    .menuHamburger {
        display: block;
        position: fixed;
        top: 1px;
        right: 0;
        height: 60px;
        width: 60px;
        z-index: 5001;
        cursor: pointer;
        transition: .3s transform ease-in-out;

    }

    .menuHamburger:hover {
        transform: scale(1.05);
    }
}
